Question9

In [1]:
words= ['The','quick','brown','fox','jumps','over','the','lazy','dog'] 
list1 = [Key.upper() for Key in words] 
print(list1)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [2]:
list2=[Key.lower() for Key in words] 
print(list2)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [3]:
words= ['The','quick','brown','fox','jumps','over','the','lazy','dog'] 
list3=[len(Key) for Key in words]
print(list3)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [4]:
list4=[(Key.upper(),Key.lower(),len(Key)) for Key in words]
print(list4)

[('THE', 'the', 3), ('QUICK', 'quick', 5), ('BROWN', 'brown', 5), ('FOX', 'fox', 3), ('JUMPS', 'jumps', 5), ('OVER', 'over', 4), ('THE', 'the', 3), ('LAZY', 'lazy', 4), ('DOG', 'dog', 3)]

In [5]:
list5=[Key for Key in words if len(Key)>=4]
print(list5)

['quick', 'brown', 'jumps', 'over', 'lazy']

Question8

In [16]:
import sqlite3
con = sqlite3.connect('Weather.db')
cur = con.cursor()
cur.execute("CREATE TABLE WEATHER (City text,Country text,Season text ,Temperature float,Rainfall float)")
cur.execute("INSERT INTO WEATHER VALUES ('Mumbai','India','Winter',24.8,5.9)")
cur.execute("INSERT INTO WEATHER VALUES ('Mumbai','India','Spring',28.4,16.2)")
cur.execute("INSERT INTO WEATHER VALUES ('Mumbai','India','Summer',27.9,1549.4)")
cur.execute("INSERT INTO WEATHER VALUES ('Mumbai','India','Fall',27.6,346.0)")
cur.execute("INSERT INTO WEATHER VALUES ('London','United Kingdom','Winter',4.2,207.7)")
cur.execute("INSERT INTO WEATHER VALUES ('London','United Kingdom','Spring',8.3,169.6)")
cur.execute("INSERT INTO WEATHER VALUES ('London','United Kingdom','Summer',15.7,157.0)")
cur.execute("INSERT INTO WEATHER VALUES ('London','United Kingdom','Fall',10.4,218.5)")
cur.execute("INSERT INTO WEATHER VALUES ('Cairo','Egypt','Winter',13.6,16.5)")
cur.execute("INSERT INTO WEATHER VALUES ('Cairo','Egypt','Spring',20.7,6.5)")
cur.execute("INSERT INTO WEATHER VALUES ('Cairo','Egypt','Summer',27.7,0.1)")
cur.execute("INSERT INTO WEATHER VALUES ('Cairo','Egypt','Fall',22.2,4.5)")

In [17]:
cur.execute("SELECT Temperature FROM Weather")
print(cur.fetchall())

[(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]

In [18]:
cur.execute("SELECT DISTINCT City FROM Weather")
print(cur.fetchall())

[('Mumbai',), ('London',), ('Cairo',)]

In [19]:
cur.execute('SELECT * FROM Weather WHERE Country = ?', ('India',))
print(cur.fetchall())

[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [20]:
cur.execute('SELECT * FROM Weather WHERE Season = ?', ('Fall',))
print(cur.fetchall())

[('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [21]:
cur.execute('SELECT City, Country, Season FROM Weather WHERE Rainfall BETWEEN ? AND ?', (200,400))
print(cur.fetchall())

[('Mumbai', 'India', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('London', 'United Kingdom', 'Fall')]

In [22]:
cur.execute('SELECT City, Country FROM Weather WHERE season = ? AND Temperature > ? ORDER BY Temperature', ('Fall',20))
print(cur.fetchall())

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [23]:
cur.execute('SELECT City, SUM(Rainfall) FROM Weather WHERE City = ? GROUP BY City', ('Cairo',))
print(cur.fetchall())

[('Cairo', 27.6)]

In [25]:
cur.execute('SELECT Season, Sum(Rainfall) AS Total_Rainfall FROM Weather GROUP BY Season')
print(cur.fetchall())

[('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

Question 5

In [26]:
def binary(n):
   if n > 1:
       binary(n//2)
   print(n % 2,end = '')

In [27]:
binary(10)

1010

In [28]:
binary(0)

0

In [29]:
binary(1)

1

In [30]:
binary(3)

11

In [31]:
binary(9)

1001

Question 4

In [32]:
def collatz(number):

    if number % 2 == 0:
        print(number // 2)
        return number // 2

    elif number % 2 == 1:
        result = 3 * number + 1
        print(result)
        return result

n = input("Give me a number: ")
while n != 1:

    n = collatz(int(n))

Give me a number: 10
5
16
8
4
2
1

Question 3

In [39]:
class marsupial(object):
	def __init__(self):
		self.list = ['id':1, 'name': Mani]
	def put_in_puch(self,item):
		self.list.append(item)
	def put_contents(self):
		return self.list

class Kangaroo(marsupial):
	def __init__(self,x,y):
		self.x = x
		self.y=y
	def jump(self,dx,dy):
		self.x += dx
		self.y+=dy
	def __str__(self):
		return ('I am a Kangaroo at coordinates ({},{})'.format(self.x,self.y))

In [44]:
m=marsupial()

In [45]:
m.put_in_puch('doll')

In [46]:
m.put_in_puch('firetruck')

In [47]:
m.put_in_puch('kitten')

In [49]:
m.put_contents()

['doll', 'firetruck', 'kitten']

In [51]:
k=Kangaroo(0,0)

In [52]:
print(k)

I am a Kangaroo at coordinates (0,0)

In [60]:
k.jump(1,0)

In [61]:
k.jump(1,0)

In [62]:
k.jump(1,0)

In [63]:
print(k)

I am a Kangaroo at coordinates (3,0)

Question 6

In [79]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser): 
    
    def __init__(self):
        HTMLParser.__init__(self)
        self.header = ''
    
    def handle_starttag(self, tag, attrs):
        if tag in ['h1','h2','h3','h4','h5']:
            self.header = tag
            #print(self.headerTag) 
    
    def handle_data(self, attrs):
        if self.header in ['h1','h2','h3','h4','h5']:
            self.header = list(self.header)
            indent = (int(self.header[1])-1) * ' ' 
            print(indent + attrs)

In [80]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

Question 1

In [1]:

a = 0

def b():
    global a
    a = c(a)
    
def c(a):
    return a + 2
b()
b()
b()
a

6

b()
initial value of a = 0
after executing function c which adds value of(a=0+2)
2
  
b()
value of a = 2
after executing function c which adds value of(a=0+4)
4

b()
value of a = 4
after executing function c which adds value of(a=0+6)
6

a=6

Quetion2

In [8]:
def fileLength(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print("File " + file_name+" not found")

In [9]:
fileLength("Filelength.txt")

123

In [10]:
fileLength("midterm.py")

File midterm.py not found

Quetion7

In [12]:
from html.parser import HTMLParser    
from urllib.request import urlopen
from urllib.parse import urljoin

class urlcollector(HTMLParser):
    

    def __init__(self, url):
      
        HTMLParser.__init__(self)
        self.url = url
        self.url_links = []


    def append(self):
        
        return self.url_links


    def handle_starttag(self, url_tag, attributes):
        for a in attributes:
            ab = urljoin(self.url, a[1])
            if ab[:4] == 'http': 
                self.url_links.append(ab)
                i = 0
def webdir(url, depth, i):
   

    depth = depth - 1    
    print(i*'  ', url)         

    objective = urlopen(url).read().decode()
    collection = urlcollector(url)
    collection.feed(objective)
    urls = collection.append() 
 
    url_links = urls
    i= i + 4


    for link in url_links:
        if depth < 0 or i < 0:
            return 1
        else:
            webdir(link, depth, i)

In [13]:
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

 http://reed.cs.depaul.edu/lperkovic/test1.html
         http://reed.cs.depaul.edu/lperkovic/test2.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html
         http://reed.cs.depaul.edu/lperkovic/test3.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html